{% extends 'base.html' %}

{% block content %}
<style>
    body{
        background-image: url('https://d3t4nwcgmfrp9x.cloudfront.net/upload/resolver-dudas-fiscales.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<body>
    <br>
    <h1 class="text-center mb-3" style="font-family: Arial Black;
    color: #f5efef; background-color: black;">Poll Questions</h1>
    {% if latest_question_list %}
        {% for question in latest_question_list %}
            <div class="card mb-3">
                <div class="card-body" style="border: 5px dashed rgb(73, 3, 3); background-color: #f5efef;">
                    <p class="lead">{{ question.question_text }}</p>
                    <a href="{% url 'polls:detail' question.id %}" class="btn btn-primary" style="display: flex;
                    justify-content: center;
                    align-items: center;">Vote Now</a>
                    <a href="{% url 'polls:results' question.id %}" class="btn btn-outline-dark" style="display: flex;
                    justify-content: center;
                    align-items: center;">Result</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No polls available</p>
</body>
    {% endif %}
{% endblock %}