<nav class="navbar navbar-dark mb-4" style="background-color: #090101; ">
	<div class="container">
		<span>
			<a class="navbar-brand" href="/">Pollster</a>
			<a class="navbar-brand" href="/about">About</a>
		</span>
		<span>
			{% if user.is_authenticated %}
				<a class="navbar-brand" href="/profile">Profile</a>
				<a class="navbar-brand" href="/logout">Logout</a>
			{% else %}
				<a class="navbar-brand" href="/login">Login</a>
				<a class="navbar-brand" href="/register">Register</a>
			{% endif %}
		</span>
	</div>
</nav>
