{% extends 'base.html' %}
{% block content %}
<style>
  body{
    background-image: url('http://alatoo.edu.kg/image?img=image_19_6849323253376061793.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }
</style>

<body>
  <br>
  <br>
  <br>
<div class="card text-center"  style="opacity:0.7 ;font: italic 15px monospace;" >
  <div class="card-body" style="justify-content: center; text-align:center;font-weight:bold;color: #000; background-color: white;" > 
    <h1 style="justify-content: center;">Welcome To Ala-Too!</h1>
    <p>This is an Alatoo polling questions</p>
    <a class="btn btn-outline-dark" href="{% url 'polls:index' %}">
        View Available Polls</a>
  </div>
  </div>
  <br>
   <img src="https://upload.wikimedia.org/wikipedia/en/0/07/Ala-Too_International_University_Seal.png" width="150" height="150" alt="" style="  display: block;
   margin-left: auto;
   margin-right: auto;">
  </body>
{% endblock %}