{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel='stylesheet' href='{% static 'style.css' %}' type='text/css'>

<body id='bg' style="background-image: url('{% static 'media/2.png'  %}');">
  <!-- <img src = "{% static './media/1.png' %}" > -->
  <br>
  <br>
  <br>
  <div class="card text-center"  style="font: 15px monospace;" >
    <div class="card-body" style="justify-content: center; text-align:center;font-weight:bold;color: #000; background-color: rgb(234, 252, 255);" > 
      <h1 style="justify-content: center;">Welcome To Ala-Too!</h1>
      <p>This is an Alatoo polling questions</p>
      <a class="btn btn-outline-dark" href="{% url 'polls:index' %}">View Available Polls</a>
    </div>
  </div>
  <br>
  <img src="https://upload.wikimedia.org/wikipedia/en/0/07/Ala-Too_International_University_Seal.png" width="150" height="150" alt="" style="  display: block; margin-left: auto; margin-right: auto;">
</body>
{% endblock %}