{% extends "base.html" %}

{% block content %}      

{% load crispy_forms_tags %}
<style>
    body{
      background-image: url('http://alatoo.edu.kg/image?img=image_19_6849323253376061793.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      }
  </style>
<!--Login--> 
<div class="container py-5"style="background-color: white;
padding-top: 40px;
padding-right: 40px;
padding-bottom: 40px;
padding-left: 40px;
opacity: 0.8;">
  <h1>Login</h1>
  <form method="POST" action="" >
    {% csrf_token %}
    {{ login_form|crispy }}
    <button class="btn btn-primary" type="submit" >Login</button>
  </form>
  <p  class="text-center" >Don't have an account? <a href="/register">Create an account</a>.</p>
</div>

{% endblock %}