{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
</head>
<style>
    body{
      background-image: url('http://alatoo.edu.kg/image?img=image_19_6849323253376061793.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      }
  </style>
    <body> 
    <div class = "container" style="background-color: white;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px;
    opacity: 0.8;">
    <form method="POST" action="" >
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit"> Create User </button>
    </form>
    <br>
    <p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
</div>
</body>
</html>

{% endblock %}